<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Recommendation</title>
  </head>
  <body>
    <h1>Recommendation</h1>
    <a href="/">GetAll</a>
    <table>
      <tr>
        <th><h1>Age:</h1></th>
        <th th:text="${age}"></th>
      </tr>
       <tr>
        <th><h1>Category:</h1></th>
        <th th:text="${category}"></th>
      </tr>
    </table> 
    <h1 th:text="${message}"></h1>
    <div class="">
      <th:block th:each="product :${products}">
      <table>
      <tr>
      <th>Name:</th>
      <th><h1 th:text="${product.name}"></h1></th>
      </tr>
      <tr>
      <th>Category:</th>
      <th><h1 th:text="${product.category}"></h1></th>
      </tr>
      <tr>
      <th>Language:</th>
      <th><h1 th:text="${product.language}"></h1></th>
      </tr>
      <tr>
      <th>Rating:</th>
      <th><h1 th:text="${product.rating}"></h1></th>
      </tr>
      <tr>
      <th>Age:</th>
      <th><h1 th:text="${product.age}"></h1></th>
      </tr>
      <tr>
      <th>Price:</th>
      <th><h1 th:text="${product.price}"></h1></th>
      </tr>
      </table>
      <th:block>
    </div>
  </body>
</html>
